body {
    font-family: Arial, sans-serif;
    background-color: #fffacd; /* Amarillo claro */
    margin: 0;
    padding: 0;
    
}

.banner {
    background-color: #800080; /* Morado */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.banner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.banner-img h1 {
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
}

#login-btn {
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-right {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding-left: 20px;
}

.banner-right p {
    margin: 10px 40px;
}
.content {
    padding: 30px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.info-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #af48af;
    color: rgb(41, 35, 35);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* cuadro*/

.info-box {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    min-width: 200px;
    max-width: 100%; /* Limita el ancho máximo al contenedor */
    padding: 10px;
    border: 6px solid #9e01a3ee;
    border-radius: 20px;
    background-color: #fffb00;
    text-decoration: none;
    color: black;
    transition: background-color 0.5s, border-color 0.3s;
    box-sizing: border-box;
    overflow: hidden;
}

.info-box img {
    width: 80px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    flex-shrink: 0;
}

.text-content {
    flex-grow: 1; /* Ocupa el espacio disponible a la derecha de la imagen */
    text-align: center; /* Centra el título horizontalmente */
}

.text-content p {
    margin: 5px 0; /* Añade un pequeño margen entre los párrafos */
}

.text-content .info-horario {
    font-weight: bold; /* Hace que el título sea más destacado */
    margin-bottom: 10px; /* Añade espacio entre el título y el resto del contenido */
}







/* Cambiar el color del fondo al pasar el ratón sobre el cuadro */
.info-box:hover {

    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2), 0 18px 24px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada para un efecto "flotante" */
    transform: translateY(-2px);
    
   
}

/* Estilo específico para el cuadro de "Comida" al pasar el ratón */
.info-box.comida:hover {
    background-color: #6a0dad; /* Fondo morado más oscuro al pasar el ratón */
}



