body {
    font-family: Arial, sans-serif;
    background-color: #fffacd; /* Amarillo claro */
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #800080; /* Morado */
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.banner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.banner-img h1 {
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
}

#login-btn {
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    padding-left: 20px;
}

.banner-right p {
    margin: 5px 50px;
}

.content {
    padding: 20px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.info-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* cuadro*/
.info-box {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Estilo específico para el cuadro de "Comida" */
.info-box.comida {
    background-color: rgb(236, 243, 240); /* Fondo morado */
    border: 2px solid purple; /* Borde morado */
    color: rgb(15, 14, 14); /* Color del texto */
}

/* Cambiar el color del fondo al pasar el ratón sobre el cuadro */
.info-box:hover {
    background-color: #e0e0e0; /* Fondo al pasar el ratón (para todos los cuadros) */
}

/* Estilo específico para el cuadro de "Comida" al pasar el ratón */
.info-box.comida:hover {
    background-color: #6a0dad; /* Fondo morado más oscuro al pasar el ratón */
}



